@import 'tailwindcss/components';

@layer components {
  .review-item {
    @apply flex w-full flex-col gap-[20px] rounded-[20px] bg-white px-[24px] py-[36px] text-gray-800 last:rounded-b-none;
  }
  .navItem {
    @apply flex flex-col items-center gap-[4px];
  }
  .pointing-circle {
    @apply absolute h-[320px] w-[320px] rounded-[50%] border-[5px] border-white bg-none;
  }
  .user-type-chip {
    @apply w-fit whitespace-nowrap rounded-[12px] bg-gray-200 px-[22px] py-[8px] text-body-lg-bold text-gray-800;
  }
  .user-type-chip-disabled {
    @apply w-fit whitespace-nowrap rounded-[12px] bg-gray-200 px-[22px] py-[8px] text-body-lg-bold text-gray-500;
  }
  .not-following-tag {
    @apply rounded-[12px] border border-gray-400 bg-white px-[16px] py-[8px] text-body-sm-bold text-gray-600;
  }
  .following-tag {
    @apply rounded-[12px] border border-main bg-white px-[16px] py-[8px] text-body-sm-bold text-main;
  }
  .active-circle {
    @apply h-[8px] w-[8px] rounded-[50%] bg-main;
  }
  .non-active-circle {
    @apply h-[8px] w-[8px] rounded-[50%] border-[1.2px] border-gray-500;
  }
  .add-button-wrapper {
    @apply w-full px-page pb-[24px];
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .spinner {
    animation: spin 1s linear infinite;
  }
}
