@import url('../styles/components.css');
@import url('../styles/inputs.css');
@import url('../styles/markdown.css');
@import url('../styles/tags.css');
@import url('../styles/layouts.css');
@import url('../styles/theme.css');
@import url('../styles/buttons.css');
@import url('../styles/text.css');
@import url('../styles/skeleton.css');
@import url('../styles/header.css');
@import url('../styles/book.css');
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

@layer base {
  * {
    box-sizing: border-box;
    scrollbar-width: none;
  }
  a {
    text-decoration: none;
  }
  img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
  }
  svg {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
  }
  button {
    box-sizing: content-box;
    cursor: pointer;
  }
}

input {
  outline: none;
}

input[type='number'] {
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.text-overflow-hidden {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

html {
  width: 100vw;
  display: flex;
  justify-content: center;
  overscroll-behavior: none;

  @media screen and (min-width: 430px) {
    overflow: hidden;
    background-color: #0e0e0e;
  }
}

body {
  margin: 0;
  width: 100vw;
  height: 100%;
  position: relative;
  display: flex;
  overflow: auto;

  /* PC view setting */
  @media screen and (min-width: 430px) {
    width: 450px;
  }
}

.safe-screen {
  height: 100dvh;

  @media all and (display-mode: standalone) {
    height: 100vh;
  }
}

.safe-bottom {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}

.safe-header {
  top: constant(safe-area-inset-top);
  top: env(safe-area-inset-top);
}

#navBar {
  padding-bottom: calc(constant(safe-area-inset-bottom) + 10px);
  padding-bottom: calc(env(safe-area-inset-bottom) + 10px);
}

#toast-message {
  top: calc(constant(safe-area-inset-top) + 12px);
  top: calc(env(safe-area-inset-top) + 12px);
}

#back-button {
  top: calc(constant(safe-area-inset-top) + 12px);
  top: calc(env(safe-area-inset-top) + 12px);

  @media all and (display-mode: standalone) {
    top: calc(constant(safe-area-inset-top) + 8px);
    top: calc(env(safe-area-inset-top) + 8px);
  }
}

#store-button {
  top: calc(constant(safe-area-inset-top) + 24px);
  top: calc(env(safe-area-inset-top) + 24px);
}

#message-toast {
  bottom: calc(constant(safe-area-inset-bottom) + 80px);
  bottom: calc(env(safe-area-inset-bottom) + 80px);
}

#start-button {
  bottom: calc(constant(safe-area-inset-bottom) + 24px);
  bottom: calc(env(safe-area-inset-bottom) + 24px);
}

#root {
  height: 100dvh;
  width: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);

  @media all and (display-mode: standalone) {
    height: 100vh;
  }
}

/* type=date input icon μƒ‰μƒ μ„Έν… */
input[type='date']::-webkit-calendar-picker-indicator {
  filter: invert(74%) sepia(6%) saturate(146%) hue-rotate(184deg)
    brightness(94%) contrast(88%);
  cursor: pointer;
}

input[type='date']::-moz-calendar-picker-indicator {
  filter: invert(74%) sepia(6%) saturate(146%) hue-rotate(184deg)
    brightness(94%) contrast(88%);
  cursor: pointer;
}

input[type='date']::-ms-clear {
  display: none;
}

input[type='date']::-ms-expand {
  filter: invert(74%) sepia(6%) saturate(146%) hue-rotate(184deg)
    brightness(94%) contrast(88%);
  cursor: pointer;
}

.slick-track {
  height: 100%;
}

.slick-slide {
  height: 100%;
}

.slick-slide > div {
  height: 100%;
}
