@import url('../styles/components.css');
@import url('../styles/inputs.css');
@import url('../styles/markdown.css');
@import url('../styles/tags.css');
@import url('../styles/layouts.css');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

@layer base {
  * {
    box-sizing: border-box;
    scrollbar-width: none;
  }
  a {
    text-decoration: none;
  }
  img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
  }
  button {
    box-sizing: content-box;
    cursor: pointer;
  }
}

input[type='number'] {
  -moz-appearance: textfield; /*For FireFox*/

  &::-webkit-inner-spin-button {
    /*For Webkits like Chrome and Safari*/
    -webkit-appearance: none;
    margin: 0;
  }
}

html {
  background-color: black;
  width: 100vw;
  display: flex;
  justify-content: center;

  @media screen and (min-width: 430px) {
    overflow: hidden;
  }
}

body {
  margin: 0;
  width: 100vw;
  position: relative;

  /* mobile view setting */
  height: fit-content;
  min-height: 100dvh;

  display: flex;
  flex-direction: column;
  align-items: center;

  overscroll-behavior-y: none;
  overflow: auto;

  /* PC view setting */
  @media screen and (min-width: 430px) {
    width: 450px;
    height: 100vh;
  }
}

/* type=date input icon μƒ‰μƒ μ„Έν… */
input[type='date']::-webkit-calendar-picker-indicator {
  filter: invert(74%) sepia(6%) saturate(146%) hue-rotate(184deg)
    brightness(94%) contrast(88%);
  cursor: pointer;
}

input[type='date']::-moz-calendar-picker-indicator {
  filter: invert(74%) sepia(6%) saturate(146%) hue-rotate(184deg)
    brightness(94%) contrast(88%);
  cursor: pointer;
}

input[type='date']::-ms-clear {
  display: none;
}

input[type='date']::-ms-expand {
  filter: invert(74%) sepia(6%) saturate(146%) hue-rotate(184deg)
    brightness(94%) contrast(88%);
  cursor: pointer;
}
