@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

@layer base {
  * {
    box-sizing: border-box;
    scrollbar-width: none;
  }
  a {
    text-decoration: none;
  }
  img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
  }
  button {
    box-sizing: content-box;
    cursor: pointer;
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html {
  background-color: rgb(241, 241, 241);
  width: 100vw;
  display: flex;
  justify-content: center;

  @media screen and (min-width: 430px) {
    overflow: hidden;
  }
}

body {
  /* basic setting */
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));

  margin: 0;
  width: 100vw;
  position: relative;

  /* mobile view setting */
  height: fit-content;
  min-height: 100dvh;

  display: flex;
  justify-content: center;

  background-color: white;
  overscroll-behavior-y: none;
  overflow: auto;

  /* PC view setting */
  @media screen and (min-width: 430px) {
    width: 450px;
    height: 100vh;
  }
}

/* type=date input icon μƒ‰μƒ μ„Έν… */
input[type='date']::-webkit-calendar-picker-indicator {
  filter: invert(74%) sepia(6%) saturate(146%) hue-rotate(184deg)
    brightness(94%) contrast(88%);
  cursor: pointer;
}

input[type='date']::-moz-calendar-picker-indicator {
  filter: invert(74%) sepia(6%) saturate(146%) hue-rotate(184deg)
    brightness(94%) contrast(88%);
  cursor: pointer;
}

input[type='date']::-ms-clear {
  display: none;
}

input[type='date']::-ms-expand {
  filter: invert(74%) sepia(6%) saturate(146%) hue-rotate(184deg)
    brightness(94%) contrast(88%);
  cursor: pointer;
}

.prose {
  color: #0e0e0e;

  gap: 0;

  p {
    margin: 0;
    padding: 0;
  }
  ol {
    margin: 0;
    padding: 0 0 0 18px;

    li {
      margin: 0;
      padding: 0;

      &::marker {
        color: #0e0e0e;
      }
    }
  }

  ul {
    margin: 0;
    padding: 0 0 0 18px;

    li {
      margin: 0;
      padding: 0;

      &::marker {
        color: #0e0e0e;
      }
    }
  }
}
